
<mat-card>
  <h1>
    Execute Operations for <span *ngIf="resource">{{ resource.idShort }}:</span>
  </h1>
  <table>
    <tr>
      <td style="width: 50%">
        <div *ngIf="functions[0]">
          <mat-form-field appearance="outline">
            <mat-label>Operation</mat-label>
            <mat-select *ngIf="resource" [(value)]="selected">
              <mat-option *ngFor="let func of functions" [value]="func">
                {{ func.idShort }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td></td>
      <td>
        <div *ngIf="selected">
          <div> {{ selected.idShort }}</div>
          <div *ngFor="let input of selected.inputVariables; let i = index">

              <mat-form-field appearance="outline">
                <mat-label *ngIf="input.value && input.value.idShort">{{ input.value.idShort }}</mat-label>
                <input matInput type="text" [(ngModel)]=inputVariablesValues[i] />
              </mat-form-field>

          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div *ngIf="message"> {{message}}</div>
      </td>
      <td>
        <div>
          <button mat-raised-button class="button" (click)="send()">Execute</button>
        </div>

      </td>
    </tr>
  </table>



</mat-card>

