<p style="margin-bottom:2px"></p>
<mat-tab-group animationDuration="0ms" mat-stretch-tabs>
  <div *ngFor="let tab of tabsParam">
    <mat-tab label="{{tab.tabName}}">
      <ng-template mat-tab-label >
        <span (click)="getDisplayData(tab.tabName, tab.submodel, tab.submodelElement)"
        class="custom-label">
          {{tab.tabName}}
        </span>
      </ng-template>

      <ng-template #instances>
        <span></span>
        <app-instances></app-instances>
      </ng-template>
      <ng-template #depPlans>
        <app-deployment-plans></app-deployment-plans>
      </ng-template>

      <ng-template #elseOption>
        <ng-template *ngIf="tab.tabName=='deployment plans'; then depPlans; else instances;">
        </ng-template>
      </ng-template>


      <!-- Table -->
      <table style="margin: 0px;"
        *ngIf="tab.tabName == 'running services' || tab.tabName == 'running artifacts'; else elseOption">
        <tr *ngFor="let item of filteredData; let i = index">

          <td style="width: 2%; text-align: center;"> {{i + 1}} </td>

          <!-- Item -->
          <td style="width: 100%;">

            <span class="row-title" >
              <span style="height: 5px; vertical-align: top; margin-right: 10px;">{{item.idShort}}</span>
            </span>
            <div *ngIf="item.logo">
              <img src={{item.logo}} class="service-icon">
            </div>
            <div *ngFor="let property of item.value" class="subtext" >
              <div *ngIf="property.value">
                {{property.value}}
              </div>
            </div>
          </td>

          <!-- Buttons -->
          <td class="cell-with-button">
          </td>

        </tr>
      </table>
    </mat-tab>
  </div>
</mat-tab-group>



<!--       OLD version
<p style="margin-bottom:20px"> </p>
<div >
  <div class="header" >
    <img src="/assets/aas.png" alt="image" class="img-aas">
    Running Artifacts
  </div>
  <div *ngIf="services && services.submodelElements">
    <div *ngFor="let element of services.submodelElements; let i = index">
      <mat-card *ngIf="element.idShort != 'deviceRegistry'
        && element.idShort != 'deviceManager'
        && element.idShort != 'containers'
        && element.idShort != 'relations'"
        tabindex="0" class="container">
        <mat-card-title >
          <mat-icon *ngIf="servicesToggle[i]" class="arrow">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!servicesToggle[i]" class="arrow">keyboard_arrow_right</mat-icon>
          <button mat-stroked-button class="button"  (click)="serToggle(i)">{{ element.idShort }}</button>
        </mat-card-title>
        <mat-card-content *ngIf="servicesToggle[i]" >
          <div *ngFor="let element2 of element.value" class="container">
            <div *ngIf="!element2.invokable">
              <span class="service">{{ element2.idShort }}: </span>
                <div *ngFor="let element3 of element2.value">
                  <span *ngIf="isNonEmptyString(element3.value)" class="shortId">
                    {{ element3.idShort }}:
                    <span *ngIf="!isObject(element3.value);">
                      {{ element3.value }}
                    </span>
                  </span>

                </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!services">
    <p style="margin-left: 10px;">The Service Submodel is not reachable. Service Manager might not be running.</p>
  </div>
  <br>
  <div class="header" >
    <img src="/assets/aas.png" alt="image" class="img-aas">
    Available Artifacts
  </div>
  <div>
    <div *ngFor="let element of artifacts.submodelElements; let i = index">
      <mat-card  *ngIf="!element.invokable
        && element.idShort == 'Container'"
        tabindex="0"
        class="container">
        <mat-card-title>
          <mat-icon *ngIf="artifactsToggle[i]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!artifactsToggle[i]">keyboard_arrow_right</mat-icon>
          <button mat-stroked-button class="button"  (click)="artToggle(i)">{{ element.idShort }}</button>
        </mat-card-title>
        <mat-card class="secbg" *ngIf="artifactsToggle[i]">
          <div *ngFor="let element2 of element.value" class="container">
            <div *ngIf="!element2.invokable">
              <span style="font-weight: bold;">{{ element2.idShort }}: </span>
              <div *ngIf="isArray(element2.value); else noArray ">
                <div *ngFor="let element3 of element2.value">
                  <span *ngIf="element3.value"> {{ element3.value | tidy}} </span>
                </div>
              </div>
              <ng-template #noArray>{{ element2.value | tidy}}</ng-template>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
 -->
