<div class="background">
  <h1>running Artifacts</h1>
  <div *ngIf="services && services.submodelElements">
    <div *ngFor="let element of services.submodelElements; let i = index">
      <mat-card *ngIf="element.idShort != 'deviceRegistry' && element.idShort != 'deviceManager' && element.idShort != 'containers'" tabindex="0">
        <mat-card-title>
          <mat-icon *ngIf="servicesToggle[i]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!servicesToggle[i]">keyboard_arrow_right</mat-icon>
          <button mat-stroked-button class="button"  (click)="serToggle(i)">{{ element.idShort }}</button>
        </mat-card-title>
        <mat-card-content *ngIf="servicesToggle[i]">
          <div *ngFor="let element2 of element.value">
            <div *ngIf="!element2.invokable">
              <span class="service">{{ element2.idShort }}: </span>
                <div *ngFor="let element3 of element2.value">
                  <span class="shortId"> {{ element3.idShort }}</span>
                  <span *ngIf="!isObject(element3.value); else isobject"> {{ element3.value }} </span>
                  <ng-template #isobject>
                    <div *ngFor="let element4 of element3.value">
                      <span *ngIf="element4.idShort != 'type'"> {{ element4.idShort }}:  {{ element4.value }}</span>
                    </div>
                  </ng-template>
                </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!services">
    <p>Service Aas not reachable, ServiceManager might not be running</p>
  </div>
  <h1>available Artifacts</h1>
  <div>
    <div *ngFor="let element of artifacts.submodelElements; let i = index">
      <mat-card  *ngIf="!element.invokable" tabindex="0">
        <mat-card-title>
          <mat-icon *ngIf="artifactsToggle[i]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!artifactsToggle[i]">keyboard_arrow_right</mat-icon>
          <button mat-stroked-button class="button"  (click)="artToggle(i)">{{ element.idShort }}</button>
        </mat-card-title>
        <mat-card class="secbg" *ngIf="artifactsToggle[i]">
          <div *ngFor="let element2 of element.value">
            <div *ngIf="!element2.invokable">
              <span style="font-weight: bold;">{{ element2.idShort }}: </span>
              <div *ngIf="isArray(element2.value); else noArray ">
                <div *ngFor="let element3 of element2.value">
                  <span *ngIf="element3.value"> {{ element3.value | tidy}} </span>
                </div>
              </div>
              <ng-template #noArray>{{ element2.value | tidy}}</ng-template>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
