
@use "../../../styles.scss" as sty;

.container {
  background-color: rgb(230, 230, 230);
  color: black;
}

.arrow {
  color: black;
}

.btn {
  background-color:sty.$color_spaBlue;
  margin-bottom: 5px;
  width:100%;
}

.radio-group {
  background-color: rgb(247, 248, 248);
}

/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
::ng-deep .mat-mdc-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: sty.$color_spaBlue;   /*inner circle color change*/
}

/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
::ng-deep.mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 //border-color:rgb(35, 142, 184); /*outer ring color change*/
 border-color:rgb(173, 171, 172);
}

/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
::ng-deep.mat-radio-outer-circle {
  border-color:rgb(173, 171, 172); /*outer ring color change*/
}


