<br>
<div style="font-size: 23px; margin-left: 10px;">
  <img src="/assets/aas.png" alt="image" class="img-aas">
  Logs ({{data.type}})
  <p></p>
  <div style="font-size: 20px;">{{data.idShort}}</div>

<br>
<button mat-raised-button class="logs-btn" id="btn.start"
  (click)="startLogsStream()"> start
</button>
<button mat-raised-button class="logs-btn" id="btn.reset"
  (click)="reset()"> reset
</button>
<button mat-raised-button class="logs-btn" id="btn.stop"
  (click)="close()"> stop
</button>
<div style="overflow: auto;">
  <pre style="white-space: pre-wrap; font-size: 14px;" id="log">
    {{data.logs}}
</pre>
</div>
<br><br><br>


<!-- debugging (remove later)
<p>-----------</p>
running: {{running}}
</div>
<br>

<div style="font-size: 12px; margin-left: 10px;">
  <p>Service info:</p>
  <p>id: {{data.id}}</p>
  <p>idShort: {{data.idShort}}</p>
  <p>type: {{data.type}}</p>
</div>


<div>received data: {{receivedData}}</div>

<p>counter: {{counter}}</p>
-->



