<br>
<div style="font-size: 23px; margin-left: 10px;">
  <img src="/assets/aas.png" alt="image" class="img-aas">
  Logs ({{data.idShort}})

<br><br><br>
<button mat-raised-button class="button"
  (click)="test()"> get logs
</button>
<button mat-raised-button class="button"
  (click)="closeLogsStream()"> stop
</button>
<br><br>
<div style="font-size: 16px; margin-left: 10px;">
  {{updateData}}
</div>
<br>
<br><br>
<p>-----------</p>
</div>
<br>
<!--
<div style="font-size: 12px; margin-left: 10px;">
  <p>Service info:</p>
  <p>id: {{data.id}}</p>
  <p>idShort: {{data.idShort}}</p>
</div>
<p>{{feedback}}</p>
-->
<div>received data: {{receivedData}}</div>

<p>counter: {{counter}}</p>

{{getUrlParams()}}


