@advice(IIPEcosphere)
template WinBatch(Configuration config, FileArtifact target, String dir, String main) {
	
    def main(Configuration config, FileArtifact target, String dir, String main) {
        'java -cp "${dir}/*" ${main} %*'
    }
	
}