p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.status-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.status-card {
  background: rgb(203, 203, 203);
  color: black;
  margin-left: 5px;
  margin-bottom: 5px;
}

.status-indicator {
  background-color: rgb(173, 171, 172);
  margin-right: 0.5em;
}

:host ::ng-deep .mat-mdc-progress-spinner circle, .mat-mdc-progress-spinner circle {
  stroke: rgb(15, 70, 92);
  zoom: 0.2;
}

.checkmark {
  width: 100%;
  height: 100%;
  font-size:4em;
  display: block;
  color: green;
}

.cross {
  width: 100%;
  height: 100%;
  font-size:4em;
  display: block;
  color: red;
}

.more-btn {
  margin-top: 5px;
  margin-right: 5px;
  background-color: rgb(35, 142, 184);
}
