<table style="margin: 0px;">
  <tr *ngFor="let item of filteredData; let i = index">

    <td id="data.nr" style="width: 2%; text-align: center;"> {{i + 1}} </td>

    <!-- Item -->
    <td style="width: 100%;">

      <span class="row-title" >
        <span id="data.idShort" style="height: 5px; vertical-align: top; margin-right: 10px;">{{item.idShort}}</span>
      </span>

      <div *ngIf="item.value">
        <div id="data.value" *ngFor="let property of item.value" class="subtext" >
          {{printDetails(property.idShort, property.value)}}
      </div>
      </div>
    </td>

    <!-- Buttons -->
    <td class="cell-with-button">
      <button id="data.btnUndeploy" mat-icon-button class="okto-button" (click)="undeploy(item)" matTooltip="Undeploy">
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </tr>
</table>




