/target/
/gen/
/opcTest.txt
/log
/modbusTest.txt
/modbusTestGeneratedConnectorSentron.txt
/totalRequestTimeGeneratedConnector.txt
/totalRequestTimeGeneratedSentronConnector.txt
/.temp-GeneratedConnector*.txt
