<div *ngIf="errorMsg">{{ errorMsg }}</div>
<div *ngIf="errorMsg"> Please check CORS and reload the page</div>
<div *ngIf="Data && Data.submodelElements">
  <div *ngFor="let element of Data.submodelElements">
    <div *ngIf="element.idShort != 'deviceRegistry' && element.idShort != 'deviceManager' && element.idShort != 'containers'">
      <mat-card tabindex="0" [class.contentBox]="!clicked" (click)="clicked = !clicked">
        <mat-card-title><button mat-raised-button class="button" (click)="details(element.value)">{{ element.idShort }}</button></mat-card-title>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
