<button mat-raised-button (click)="getData()">Aktualisieren</button>

<div *ngIf="Data && Data.submodelElements" style="display: flex;">
  <div *ngFor="let element of Data.submodelElements">
    <mat-card *ngIf="element.idShort != 'deviceRegistry' && element.idShort != 'deviceManager' && element.idShort != 'containers'" tabindex="0" style="flex: 1 1 auto; flex-wrap: wrap;">
      <mat-card-title>{{ element.idShort }}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let element2 of element.value">
          <div *ngIf="!element2.invokable">
            <span class="shortId">{{ element2.idShort }}: </span>
            <span *ngIf="element2.value"> {{ element2.value | tidy}} </span>
          </div>
        </div>
        <button mat-raised-button (click)="details(element.value)">Details</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button mat-raised-button (click)="getArtifacts()">Artefakte</button> <!--to be removed in future version-->
<div *ngIf="Data && Data.submodelElements" style="display: flex;">
  <div *ngFor="let element of Artifacts.submodelElements">
    <mat-card *ngIf="element.idShort != 'deviceRegistry' && element.idShort != 'deviceManager' && element.idShort != 'containers'" tabindex="0" style="flex: 1 1 auto; flex-wrap: wrap;">
      <mat-card-title>{{ element.idShort }}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let element2 of element.value">
          <button mat-raised-button class="button" *ngIf="!element2.invokable">
            <span class="shortId">{{ element2.idShort }}: </span>
            <div *ngIf="isArray(element2.value); else noArray ">
              <div *ngFor="let element3 of element2.value">
                <span *ngIf="element3.value"> {{ element3.value | tidy}} </span>
              </div>
            </div>
            <ng-template #noArray>{{ element2.value | tidy}}</ng-template>

          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button mat-raised-button (click)="doThing()">POST</button>
