
<mat-toolbar style="background: RGB(35, 142, 183);">
  <img src="../assets/PlatformLogoBig.png" alt="Logo" class="logo">
  <span>  IIP Ecosphere Management UI</span>

  <span style="flex: 1 1 auto"></span>

  <div style="font-size:x-small;">
    <p style="line-height: 0.5">Version: {{Data.version}}</p>
    <p style="line-height: 0.5">Build-Id: {{Data.buildId}}</p>
  </div>

</mat-toolbar>


<nav mat-tab-nav-bar style="background: RGB(35, 142, 183);">
  <a mat-tab-link [routerLink]="'resources'"> resources </a>
  <!-- <a mat-tab-link [routerLink]="'containers'"> containers </a> -->
  <a mat-tab-link [routerLink]="'services'"> services </a>
  <!-- <a mat-tab-link [routerLink]="'connectorTypes'"> connector types </a> -->
  <a mat-tab-link [routerLink]="'deploymentPlans'"> deployment plans </a>
  <a mat-tab-link [routerLink]="'flowchart'"> flowchart test </a>
</nav>
<mat-tab-nav-panel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

  <div class="footer">
    <app-status-box></app-status-box>
  </div>

