<mat-toolbar *ngIf="selector" class="hmiHeader">
  <h1><span>Editing {{ getDisplayName(input) }}</span></h1>
  <span style="flex: 1 1 auto"></span>
  <span>
    <button mat-icon-button class="button okto-button" color="warning" (click)="closeSelector(true)" 
      matTooltip="Save values" id="ref-select.btn-save">
      <mat-icon>done</mat-icon>
    </button>
    &nbsp;
    <button mat-icon-button class="button okto-button" color="success" (click)="closeSelector(false)" 
      matTooltip="Cancel dialog" id="ref-select.btn-cancel">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<div style="padding: 0;">
  <span id="inputName" class="inputLabel" *ngIf="!selector">
    {{ getDisplayName(input) }} 
    <span *ngIf="fieldsMeta && fieldsMeta.value">
      <mat-form-field appearance="outline">
        <mat-select id="typeSelect" [(value)]="selectedType">
          <mat-option *ngFor="let type of fieldsMeta?.value" [value]="type">
            {{ type.idShort }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    &nbsp;
    <span #subEditor *ngIf="input.metaTypeKind == 10 && input.multipleInputs else other" 
      id="ref-select.inputName.subEd"> 
      <app-subeditor-button [meta]="meta" [input]="input" [selectedType]="selectedType" matIcon="add" (saveEvent)="onChildSaveEvent($event)"></app-subeditor-button>
    </span>
    <ng-template #other>
      <button mat-icon-button class="itemButton" (click)="selectElement()" id="ref-select.inputName.btn-add">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </span> 

  <div *ngIf="selector">
    <mat-card appearance="outlined" class="inputBox custom" id="ref-select.input">
      {{ getDisplayName(input) }}      
      <table>
        <tr>
          <td *ngIf="activeTextinput">
            <mat-form-field appearance="outline">
              <input matInput [matTooltip]="input.description[0].language + ' ' + input.description[0].text" 
                [(ngModel)]="textInput" id="ref-select.input.text">
            </mat-form-field>
            <!--<button mat-raised-button (click)="addFromTextfield()">add</button>-->
          </td>
          <td>
            <div *ngIf="references[0]">
              <mat-form-field appearance="outline" class="inputField">
                <mat-select [(value)]="selectedRef" id="ref-select.input.select">
                  <mat-option *ngFor="let ref of references" [value]="ref"> <!-- (click)="addFromRef()" -->
                    {{ getElementDisplayName(ref, false) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>

  <div *ngIf="isArray(input.value) else single" class="valuebox">
    <div class="flexcontainer-background" [style.width]="getContainerWidth()" id="ref-select.container">
      <mat-card appearance="outlined" *ngFor="let value of input.value; let i=index" class="inputCard custom">
        <div class="flexcontainer">
          <table>
            <tr>
              <td>
                <button *ngIf="isSequenceOf" mat-icon-button class="itemButton" (click)="moveSequenceElement(true, i)" 
                  matTooltip="Shift to left" id="ref-select.container.bnt-shiftLeft">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
              </td>
              <td style="width:8em;">{{getElementDisplayName(value, true)}}</td>
              <td>
                <button mat-icon-button class="itemButton" (click)="editInputValue(i)" matTooltip="Edit value" 
                  id="ref-select.container.bnt-edit">
                  <mat-icon>menu_open</mat-icon>
                </button>
              </td>
              <td>
                <button mat-icon-button class="itemButton" (click)="removeInputValue(i)" matTooltip="Delete value" 
                  id="ref-select.container.bnt-delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td>
                <button *ngIf="isSequenceOf" mat-icon-button class="itemButton" (click)="moveSequenceElement(false, i)" 
                  matTooltip="Shift to right" id="ref-select.container.bnt-shiftRight">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </td>
            </tr>
          </table>
      </div>
      </mat-card>
    </div>
  </div>
    
  <ng-template #single>
    <div class ="valuebox" *ngIf="!selector">
      <div class="flexcontainer-background" [style.width]="getContainerWidth()" id="ref-select.single">
      <mat-card appearance="outlined" class="inputCard custom" *ngIf="input.value">
        <div class="valuecontainer">
          <table>
            <tr>
              <td>&nbsp;{{getElementDisplayName(input.value, input.refTo)}}</td>
              <td>
                <button mat-icon-button class="itemButton" (click)="input.value = null" 
                  matTooltip="Delete value" id="ref-select.single.bnt-delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
    </div>
  </ng-template>

  <!--<span *ngIf="selector" style="display: flex; justify-content: center">
    <button mat-raised-button class="button okto-button" color="success" (click)="closeSelector(true)">
      Save
    </button>
  </span>-->
</div>
