tr:nth-child(odd) {
  background-color:initial;
}


.flexcontainer {
  max-height: 400px;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //background-color: red;
}

.valuebox {
  width: 90%;
  min-height: 7em;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(199, 199, 199);
  margin-left: 5%;
}

.singlevaluebox {
  width: 11em;
  min-height: 7em;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(199, 199, 199);
  margin-left: 5%;
}
