<div>
  <div>
    <table style="width: 100%">
      <tr>
        <td *ngIf="textfield">
          <mat-form-field appearance="outline">
            <input matInput [matTooltip]="input.description[0].language + ' ' + input.description[0].text" [(ngModel)]="textInput">
          </mat-form-field>
          <button mat-raised-button (click)="addFromTextfield()">add</button>
        </td>
        <td>
          <div *ngIf="references[0]">
            <mat-form-field appearance="outline">
              <mat-select [(value)]="selectedRef">
                <mat-option *ngFor="let ref of references" [value]="ref" (click)="addFromRef()">
                  {{ displayIdShort(ref) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div [ngClass]="valueboxClass()">
    <div class="flexcontainer">
      <mat-card *ngFor="let value of input.value; let i=index">
        <table>
          <tr><td colspan="3" style="text-align: center">{{value}}</td></tr>
          <tr>
            <td>
              <button *ngIf="isSequenceOf" mat-icon-button (click)="moveSequenceElement(true, i)"><mat-icon>keyboard_arrow_left</mat-icon></button>
          </td>
          <td>
            <button mat-raised-button style="background-color: red; margin-left: 0.5em;" (click)="removeInputValue(i)">remove</button>
          </td>
          <td>
            <button *ngIf="isSequenceOf" mat-icon-button (click)="moveSequenceElement(false, i)"><mat-icon>keyboard_arrow_right</mat-icon></button>
          </td>
        </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
