import Basics;

@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template StoreMd5Hash(IIPEcosphere config, JsonFileArtifact target, Path path) {
	
    def main(IIPEcosphere config, JsonFileArtifact target, Path path) {
    	FileArtifact fileArtifact = path;
    	String fileArtifactMd5 = fileArtifact.getMd5Hash();
                
        JsonNode data = target.getData();
        data.addValue(path, fileArtifactMd5);
        
    }	
}