import Basics;

@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template WrapperScript(IIPEcosphere config, FileArtifact target) {
	
    def main(IIPEcosphere config, FileArtifact target) {
    	    	
    	'#!/bin/bash'
		''
		'bash broker.sh &'
		'sleep 4;'
		'bash serviceMgr.sh'
          
    }	
}
