.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;

  color: black;
}

.mat-divider {
  //border-top-color: rgb(0, 0, 0);
}

.description {
  font-size: small;
  justify-content: flex-start;
}

.buttons {
  justify-content: flex-end;
}

.name {
  font-size: medium;
  //justify-content: flex-start;
}

.grey-line {
  background-color: rgb(207, 207, 207);
}

.white-line {
  background-color: rgb(243, 240, 240);
}
