<div class="background">
  <h1>Deployment Plans</h1>

  <mat-form-field appearance="outline" >
    <mat-label>Deployment Plan</mat-label>
    <mat-select *ngIf="deploymentPlans" [(value)]="selected">
      <mat-option *ngFor="let plan of deploymentPlans.value" [value]="plan.value">
        {{plan.idShort}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="test()">selected</button>
  <button mat-raised-button (click)="deploy()">deploy</button>
  <button mat-raised-button style="background-color: rgb(112, 112, 10)" (click)="undeploy()">udeploy</button>
</div>
