<div class="background">
  <h1>Deployment Plans</h1>

  <mat-form-field appearance="outline">
    <mat-label>Deployment Plan</mat-label>
    <mat-select *ngIf="deploymentPlans" [(value)]="selected">
      <mat-option *ngFor="let plan of deploymentPlans.value" [value]="plan">
        {{getName(plan.value)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card>selected: <span *ngIf="selected && selected.value" style="background-color: white; color:black">{{ getName(selected.value) }}</span></mat-card>
  <button mat-raised-button class="button" (click)="deploy()">deploy</button>
  <button mat-raised-button style="background-color: rgb(255,204,0)" (click)="undeploy()">udeploy</button>
</div>
