<div>
  <div class="header">
    Deployment Plans
  </div>

  <table *ngIf="deploymentPlans; else noPlans" style="margin: 0px;" >
    <tr *ngFor="let plan of deploymentPlans.value; let i = index">
      <td style="width: 2%; text-align: center;"> {{i + 1}} </td>
      <td style="width: 100%;">
        <span class="row-title">
          {{ plan.idShort }}

        </span><br>
        <span class="subtext"> {{getDescription(plan)}}</span>
      </td>
      <td>
        <button mat-raised-button class="button" (click)="deploy(plan)">deploy</button>
      </td>
      <td>
        <button mat-raised-button class= "black-button" (click)="undeploy(plan)">udeploy</button>
      </td>
    </tr>
  </table>
<!--
  <mat-list *ngIf="deploymentPlans; else noPlans">
    <div *ngFor="let plan of deploymentPlans.value; let i = index">
      <mat-list-item [ngClass]="applyLineStyle(i)">
        <div class="container">
          <span class="name">Name: {{ getName(plan.value) }}</span>
          {{i + 1}}
          <span class="name">
            {{ plan.idShort }} <br>
            <span class="description"> {{getDescription(plan)}}</span>
          </span>
          <span>
            <button mat-raised-button class="button" (click)="deploy(plan)">deploy</button>
            <button mat-raised-button style="background-color: rgb(255,204,0)" (click)="undeploy(plan)">udeploy</button>
          </span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  -->
  <ng-template #noPlans>
    <div>
      <span>no deployment plans found</span>
    </div>
  </ng-template>


</div>
