@use "../../../styles.scss" as sty;

tr:nth-child(odd) {
  background-color: initial;
}

.inputEditor {
  margin-bottom: 0em;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

// default material color is white
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-select-value {    
  color: black !important;  
}

// default material color is white
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-select-arrow {    
  color: black !important;  
}

.custom.mat-mdc-card {
  margin: 0.3em;
  padding: 0.3em;
}

.inputLabel {
  min-height: 2em;
  margin-bottom: 0.2em;
}

.inputGroup {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y:hidden;
  gap: 0.5em;
  background-color: sty.$color_seaBlue;
  margin-bottom: 0.2em;
}

.fullLineInputGroup {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x:hidden;
  gap: 0.5em;
  background-color: sty.$color_seaBlue;
  margin-bottom: 0.2em;
}

.inputField {
  min-width: sty.$editorInputFieldWidth;
}

.inputBox {
  min-height: 8em;
  min-width: calc(1.1em + #{sty.$editorInputFieldWidth});
  margin: 0.2em;
  background-color: sty.$color_poolBlue_light;
  border: 3px solid sty.$color_lakeGreen;
  color: black;
}

.refInput {
    min-height: 8em;
    min-width: 16em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: sty.$color_poolBlue_light;
    border: 3px solid sty.$color_lakeGreen;
    color: black;
}

.toggleButton {
  @extend .okto-button;
  color: black;
  margin-bottom: 0.3em;
  padding: 4px, 4px;
}

.feedback {
  background-color: sty.$color_spaBlue; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the message */
  border-radius: 4px; /* Rounded corners */
  margin: 10px 0; /* Margin to create space between messages */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
  transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
  font-size: large;
}

.required-hint {
  color: #f44336; /* Material red */
  font-weight: 500;
}

.required-line-msg {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y:hidden;
  gap: 0.5em;
  background-color: sty.$color_seaBlue;
  margin-bottom: 0.2em;
}