<mat-toolbar>
  <h1>Editor <span *ngIf="category">for {{ category }}</span></h1>
  <span style="flex: 1 1 auto"></span>
  <span><button mat-icon-button class="button" color="warning"
    (click)="close()"><mat-icon>close</mat-icon></button></span>
</mat-toolbar>

<mat-card>
  <table>
    <tr>
      <td>
        <div *ngIf="meta && meta.value">
          <mat-form-field appearance="outline">
            <mat-select [(value)]="selectedType">
              <mat-option *ngFor="let type of meta.value"
              [value]="type" (click)="generateInputs()">
                {{ type.idShort }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td>
        <h2 *ngIf="selectedType && selectedType.idShort">
          {{selectedType.idShort}}
        </h2>
      </td>
    </tr>
  </table>
</mat-card>
<div *ngFor="let uiGroup of uiGroups">
  <div class="inputGroup">
    <div *ngFor="let input of uiGroup.inputs">
      <mat-card class="inputBox" *ngIf="!input.multipleInputs && !input.refTo; else ref">
        <p style="margin-bottom: 1em;">{{ input.name }}</p>
          <mat-form-field appearance="outline">
            <mat-label>{{ input.type }}</mat-label>
            <input matInput
              [matTooltip]="input.description[0].text + ' ' + input.description[0].language" type="text" [(ngModel)]=input.value />
          </mat-form-field>
      </mat-card>
      <div>
        <ng-template #ref>
          <mat-card [ngClass]="input.multipleInputs? 'inputBox' : 'refInput'">

              <p style="margin-bottom: 1em;">{{ input.name }}</p>
              <app-input-ref-select
                [textfield]="true" [input]="input">
              </app-input-ref-select>

          </mat-card>
      </ng-template>
      </div>
    </div>
    </div>
    <div class="fullLineInputGroup">
      <div *ngFor="let input of uiGroup.fullLineInputs">
        <mat-card class="refInput">
          <p style="margin-bottom: 1em;">{{ input.name }}</p>
          <app-input-ref-select
            [textfield]="true" [input]="input">
          </app-input-ref-select>
        </mat-card>
        <div>
        </div>
      </div>
    </div>

    <h1 *ngIf="uiGroup.optionalInputs[0]">Optional</h1>
    <div class="inputGroup">

    <div *ngFor="let input of uiGroup.optionalInputs">
      <mat-card class="inputBox">
        <mat-card-content *ngIf="!input.multipleInputs && !input.refTo; else refOpt">
          <p style="margin-bottom: 1em;">{{ input.name }}</p>
          <mat-form-field appearance="outline" >
            <mat-label>{{ input.type }}</mat-label>
            <input matInput
              [matTooltip]="input.description[0].text + ' ' + input.description[0].language" type="text" [(ngModel)]=input.value />
          </mat-form-field>
        </mat-card-content>

        <ng-template #refOpt>
          <mat-card-content class="refInput">
            <p style="margin-bottom: 1em;">{{ input.name }}</p>
            <app-input-ref-select
              [textfield]="true" [input]="input">
            </app-input-ref-select>
          </mat-card-content>
        </ng-template>
        </mat-card>
    </div>

    <div class="fullLineInputGroup">
      <div *ngFor="let input of uiGroup.fullLineOptionalInputs">
        <mat-card class="refInput">
          <p style="margin-bottom: 1em;">{{ input.name }}</p>
          <app-input-ref-select
            [textfield]="true" [input]="input">
          </app-input-ref-select>
        </mat-card>
        <div>
        </div>
      </div>
    </div>

  </div>

</div>

<div style="display: flex; justify-content: center">
  <button mat-raised-button class="button"
    color="success" (click)="create()" disable>Create</button>
</div>
