tr:nth-child(odd) {
  background-color: initial;
}

.inputGroup {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y:hidden;
  gap: 1em;
  background-color: rgb(145, 145, 145);
  margin-bottom: 2em;
}

.fullLineInputGroup {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x:hidden;
  gap: 0.5em;
  background-color: rgb(145, 145, 145);
  margin-bottom: 2em;
}

.inputBox {
  min-height: 8em;
  min-width: 16em;
  margin: 0.5em;
}

.refInput {
    min-height: 11em;
    min-width: 32em;
}
