import UiAngularBasics;

@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template UiAngularLinux(IIPEcosphere config, FileArtifact target) {
	
    def main(IIPEcosphere config, FileArtifact target) {
        '#!/bin/bash
        # starts the management UI, install nodejs and express before

        cd mgtUi
        npm list express || npm install express
        npm list cors || npm install cors
        nodejs server.js \\$*'
    }
	
}