import Basics;
import JavaOsBasics;

@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template TemplatesMvnBatch(Configuration config, FileArtifact target, Boolean forBuild=true) {
	
    def main(Configuration config, FileArtifact target, Boolean forBuild=true) {
        'setlocal
        cd /D "%~dp0"'
        if (forBuild) {
            'mvn -P EasyGen -U generate-sources -Dunpack.force=true'
        } else {
            'mvn install %*'
        }
        'endlocal'
    }
	
}