@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template MqttBasics(Configuration config, FileArtifact target) {

    def getHostOpt(IIPEcosphere config) {
        String host = "";
        if (isDefined(config.transportProtocol) and isDefined(config.transportProtocol.globalHost)) { 
            host = "--host=${config.transportProtocol.globalHost}";	
        }
	    host;
	}
	
}
