@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template MqttWin(Configuration config, FileArtifact target) {
	
    def main(Configuration config, FileArtifact target) {
        'java -cp "brokerJars/*" test.de.iip_ecosphere.platform.test.mqtt.hivemq.TestHiveMqServer %*'
    }
	
}