@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template NoBroker(Configuration config, FileArtifact target) {
	
    def main(Configuration config, FileArtifact target) {
        'No broker defined in the instantiation so far.'
    }
	
}