constraints collection
 - type names must not start with *, uniqueness of names
 - names shall not have strange characters
 - in/out type compliance rules unclear (AI service discussion)
 - connector service in/out types must be RecordTypes?
 - transport vs service protocol
 - ensemble -> no overlaps, no graph
