/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: RGB(35, 142, 183);
  --secondary-color: RGB(157,157,157);
}

.shortId {
  color: blue;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  margin: 5px;
}
