/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@use '@angular/material' as mat;
@import "drawflow.scss";

:root {
  --primary-color: RGB(35, 142, 183);
  --primary-color-contrast:(#001d3c);
  --secondary-color: RGB(157,157,157);
  --secondary-colo-contrast:(#343434);
}

.header {
  font-size: 23px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

tr:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

.cell-with-button {
  vertical-align: top;
}

.row-title {
  font-size: medium;
  line-height: 1.7;
}
.subtext{
  color: rgb(97, 95, 96);
  //font-size: small;
  //margin: 5px;
  margin-left: 5px;
  line-height: 1.7;
}

// --- resource detail ----
.gray-element {
  //background-color: rgb(173, 171, 172);
  background-color: rgb(230, 230, 230);
  //color: rgb(58, 55, 57);
  //font-size: 20px;
  color:black;
}

.category {
  font-size: 18px;
  color:rgb(165, 42, 42);
  //color: black;
  margin-bottom: 20px;
}

.attribute-details {
  margin-left: 15px;
  color:black;
}

// tooltip
.visible {
  height: 3em;
  width: 8em;
  color: rgb(0, 94, 182);
  //font-weight: bold;
  font-weight: 500;
}

.semanticName {
  color: rgb(97, 95, 96);
}

.shortId {
  //color: white;
  //color: rgb(58, 55, 57);
  color: black;
  font-size: 14px;
  line-height: 1.7;
}

.service-icon {
  //width: 50px;
  height: 25px;
  border: 2px solid rgb(243, 251, 255);
}

//-----------

// sub-menu
.mat-tab-label {
  color: rgb(0,0,0) !important;
  //background-color: rgb(203, 203, 203);
  background-color: rgb(125, 214, 255);
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color:RGB(35, 142, 183);
}

.custom-label {
  //padding-left: 2px;
  //padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
  //background-color: rgb(203, 203, 203);
  background-color: rgb(125, 214, 255);
  color: black;
}

.create-button {
  background-color:rgb(35, 142, 184);
  //background-color:rgb(132, 137, 143);
  margin-right: 1vw;
  color: white;
  font-size: 14px;
  line-height: 50px;
  height: auto;
  //width: 200px;
  width: auto;
}

.blue-button {
  background-color:rgb(35, 142, 184);
}

.black-button {
  background-color:  rgb(97, 95, 96);
}

.service {
  background-color:rgb(35, 142, 184);
}

.logo {
  max-width: 50px;
  max-height: 50px;
  margin: 5px;
}

.deviceIcon {
  max-width: 250px;
  max-height: 250px;
  margin: 5px;
}

.button {
  background-color: var(--primary-color);
}

.background {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 100%;
}

.secbg {
  background-color: var(--secondary-color);
}

.contentBox {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  background-color:chocolate;
  @include mat.elevation(10);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.item {
  width: auto;
  height: auto;
}




