
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened >
    <div class="inner-toolbar">
      <h1>Services</h1>
      <div *ngIf="services && services.value" class="toolbar">
        <mat-card *ngFor="let service of services.value">
          <mat-card-title *ngIf="service.idShort">{{ service.idShort }}</mat-card-title>
          <mat-card-content><div *ngFor="let property of service.value"> {{property.idShort}}: <span *ngIf="property.value">{{property.value}}</span></div></mat-card-content>
        </mat-card>
      </div>


    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div id="drawflow"></div>
    <button mat-raised-button class="button" (click)="zoomIn()">Zoom In</button>
    <button mat-raised-button class="button" (click)="zoomOut()">Zoom Out</button>
    <button mat-raised-button class="button" (click)="getGraph()">getGraph</button>
  </mat-drawer-content>
</mat-drawer-container>
