
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="toolbar">
    <div class="inner-toolbar">
      <h1>Flowchart Test</h1>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Element</mat-card-title>
        <mat-card-content>This is an Element</mat-card-content>
      </mat-card>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div id="drawflow"></div>
    <button mat-raised-button class="button" (click)="zoomIn()">Zoom In</button>
    <button mat-raised-button class="button" (click)="zoomOut()">Zoom Out</button>
    <button mat-raised-button class="button" (click)="getGraph()">getGraph</button>
  </mat-drawer-content>
</mat-drawer-container>
