html, body {
  overflow-y: hidden;
  height:100%;
  width: 100%;
}

.outermost-container {
  overflow-y: hidden;
  overflow-x: hidden;
  height:100%;
  width:100%;
  position:fixed;
}

.inner-toolbar {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  position: relative;
  width: 33%;
  max-width: 40%;
}

.outer-container {
  display: flex;
  justify-content: stretch;
  overflow-y: hidden;
  height:100%
}

.drawflow-container {
  position:relative;
  width: 100%;
}

.element {
  margin-bottom: 0.5em;
}

p
{
  margin: 0.5em;
  padding:0.1em;
  font-size:1em;
  line-height: .75em;
}
