.node {
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  display: flex;
  background: grey;
  color: black;
  border: 1px;
  border-radius: 2;
  min-height: 20px;
  width: auto;
  min-width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container {
  margin: 0;
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;

}

.toolbar {
  margin: 0;
  width: 25%;
  height: 100%;
}

.inner-toolbar {
  margin:0.3em;
  padding:2em;
  overflow-y: scroll;
  overflow-x:scroll;
}

.content {
  width: 75%;
  height: 100%;
}
