html, body {
  overflow-y: hidden;
  height:100%;
  width: 100%;
}

.outermost-container {
  overflow-y: hidden;
  overflow-x: hidden;
  height:100%;
  width:100%;
  position:fixed;
}

.services-toolbar {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  position: relative;
  width: 28%;
  max-width: 40%;
}

.outer-container {
  display: flex;
  justify-content: stretch;
  overflow-y: hidden;
  height:100%;
}

.drawflow-container {
  position:relative;
  width: 100%;
}

.element {
  margin-bottom: 0.5em;
  background-color: rgb(230, 230, 230);
  color: black;
}

p
{
  margin: 0.5em;
  padding:0.1em;
  font-size:1em;
  line-height: .75em;
}

.bus-icons {
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}

.flowchart-toolbar {
  height: 100%;
  background-color: rgba(141, 141, 141, 0.665);
  margin: 1em 1em 1em 1em;

}

.flowchart-toolbar > mat-icon {
  padding-bottom: 0.5em;
  font-size: 40px;
  width: 100%;
}
