<p style="margin-bottom:2px"></p>
<!--
<button
mat-raised-button color="success"
(click)="create()">NEW
</button>
-->
<mat-tab-group animationDuration="0ms" mat-stretch-tabs>
  <!-- Tab menu -->
  <div *ngFor="let tab of tabsParam">
    <mat-tab label="{{tab.tabName}}">
      <ng-template mat-tab-label >
        <span (click)="getDisplayData(tab.tabName, tab.metaProject, tab.submodelElement)" class="custom-label">
          {{tab.tabName}}
        </span>
      </ng-template>

      <!-- TODO probably delete
      <div *ngIf="tab.tabName == 'Meshes'">
        <button mat-raised-button style="background-color: rgb(35, 142, 184)"
          (click)="createMesh()" disabled>
          new mesh
        </button>
      </div>
      -->

      <div *ngIf="currentTab != '' && tab.tabName != 'Setup'">
        <button mat-raised-button color="success"
        style="background-color: rgb(35, 142, 184)"
        (click)="new()">new
        </button>
      </div>


      <!-- Table -->
      <table style="margin: 0px;">
        <tr *ngFor="let item of filteredData; let i = index">
          <td style="width: 2%; text-align: center;"> {{i + 1}} </td>

          <!-- Item -->
          <td style="width: 100%;">

            <span class="row-title" >
              <span style="height: 5px; vertical-align: top; margin-right: 10px;">{{item.idShort}}</span>
            </span>
            <div *ngIf="item.logo">
              <img src={{item.logo}} class="service-icon">
            </div>
            <div *ngFor="let property of item.value" class="subtext" >
              <div *ngIf="property.value">
                {{property.value}}
              </div>
            </div>
          </td>

          <!-- Buttons -->
          <td  *ngIf="tab.tabName == 'Applications'" class="cell-with-button">
            <button
              mat-raised-button style="background-color: rgb(35, 142, 184)"
              (click)="createMesh()" disabled>generate interfaces
            </button>
          </td>
          <td  *ngIf="tab.tabName == 'Applications'" class="cell-with-button">
            <button
              mat-raised-button style="background-color: rgb(35, 142, 184)"
              (click)="createMesh()" disabled>generate template
            </button>
          </td>
          <td  *ngIf="tab.tabName == 'Applications'" class="cell-with-button">
            <button
              mat-raised-button style="background-color: rgb(35, 142, 184)"
              (click)="createMesh()" disabled>integrate application
            </button>
          </td>

          <td class="cell-with-button">
            <div *ngIf="tab.tabName == 'Meshes'; else elseNotDone">
              <button
                mat-raised-button style="background-color: rgb(35, 142, 184)"
                (click)="edit(item)">edit
              </button>
            </div>
            <ng-template #elseNotDone>
              <button
                mat-raised-button style="background-color: rgb(35, 142, 184)"
                (click)="edit(item)" disabled>edit
              </button>
            </ng-template>
          </td>

          <td class="cell-with-button">
            <button
              mat-raised-button style="background-color: rgb(97, 95, 96)"
              (click)="del(item)" disabled>
              delete
            </button>
          </td>

        </tr>
      </table>
    </mat-tab>
  </div>
</mat-tab-group>






<!--
<nav mat-tab-nav-bar style="background: RGB(97, 95, 96);"
  [tabPanel]="tabPanel">
  <a mat-tab-link [routerLink]="'list'"> nowe </a>
  <a mat-tab-link [routerLink]="'list'"> nowe2 </a>
  <a mat-tab-link [routerLink]="'list'"> nowe3 </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <div class="footer">
    <app-status-box></app-status-box>
  </div>
-->
<!--
<mat-list role="list">
  <mat-list-item role="listitem">
    <button
      mat-raised-button class="button"
      (click)="selectList('EndpointAddress')">Setup</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      mat-raised-button class="button"
      (click)="selectList('String')">Constants</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      mat-raised-button class="button"
      (click)="selectList('RecordType')">Types</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      mat-raised-button class="button"
      (click)="selectList('Service')">Services</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
    mat-raised-button class="button"
    (click)="selectList('Servers')">Servers</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
    mat-raised-button class="button"
    (click)="selectList('ServiceMesh')">Meshes</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
    mat-raised-button class="button"
    (click)="selectList('Application')">Applications</button>
  </mat-list-item>
</mat-list>

-->


<!--
<p></p>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
-->


<!--
<nav mat-tab-nav-bar style="background: RGB(203, 203, 203);">
  <a mat-tab-link [routerLink]="'/list-app'"> Application </a>
  <a mat-tab-link [routerLink]="'/services'"> Artifacts </a>
</nav>


<div *ngIf="data && data.value">
  <div *ngFor="let item of data.value">
    <div class="item">
      <div class="text">{{item.idShort}}</div>
      <div class ="buttons">
        <button
          mat-raised-button style="background-color: rgb(35, 142, 184)"
          (click)="edit(item)">edit</button>
        <button
          mat-raised-button style="background-color: rgb(97, 95, 96)"
          (click)="del(item)">delete</button>
      </div>
    </div>
    <p></p>
  </div>
</div>
-->









