:host ::ng-deep .mat-tab-header-pagination-chevron {
  border-color:rgb(0, 0, 0);
 }


.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: black;
}

.buttons {
  justify-content: flex-end;
}

.text {
  font-size: medium;
  justify-content: flex-start;
}

.mat-divider {
  border-top-color: rgb(0, 0, 0);
}

.file-input {
  display: none;
}

.okto-button-enabled {
  background-color: rgb(35, 142, 184)
}

.okto-button-disabled {
  background-color: rgb(97, 95, 96)
}