@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template TemplatesEasyProducer(IIPEcosphere config, FileArtifact target, String appName) {
	
    def main(IIPEcosphere config, FileArtifact target, String appName) {
    '<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <path kind="IVML" value="src/main/easy/;src/test/easy/" />
        <path kind="VIL" value="src/main/easy/;src/test/easy/" />
    </configuration>'
    }
	
}