@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template TemplatesEclipseGitignore(IIPEcosphere config, FileArtifact target, String appName) {
	
    def main(IIPEcosphere config, FileArtifact target, String appName) {
    '/target/
    **/__pycache__/'
    }
	
}