<p></p>
<mat-list role="list">
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('EndpointAddress')">Setup</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('String')">Constants</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('PrimitiveType')">Types</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('Service')">Services</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('Servers')">Servers</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('ServiceMesh')">Meshes</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="button" (click)="selectList('Application')">Applications</button>
  </mat-list-item>
</mat-list>
