/target/
/bin/
/gen/*.sh
/gen/*.bat
/gen/*.service
/gen/ApplicationInterfaces/
/gen/broker/
/gen/ecs*/
/gen/mgtUi/
/gen/monitoring/
/gen/*Jars/
/gen/platform/
/gen/serviceMgr/
/gen/SimpleMeshInstallTestingApp/
/gen/templates/
/gen/README.txt
/src/main/easy/cfg
/src/main/easy/files
/src/main/easy/meta
/src/main/easy/vtl
/src/main/easy/.EASyConfig
/src/main/easy/constraints.txt
/src/main/easy/IIPEcosphere*.*
/src/main/easy/README.md
log