@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template AmqpWin(IIPEcosphere config, FileArtifact target) {
	
    def main(IIPEcosphere config, FileArtifact target) {
        Integer port = config.transportProtocol.port;
        'java -cp "brokerJars/*" test.de.iip_ecosphere.platform.test.amqp.qpid.TestQpidServer ${port} %*'
    }
	
}