@advice(IIPEcosphere)
@indent(indentation = 4, additional = 0)
template AmqpWin(Configuration config, FileArtifact target) {
	
    def main(Configuration config, FileArtifact target) {
        'java -cp "brokerJars/*" test.de.iip_ecosphere.platform.test.amqp.qpid.TestQpidServer %*'
    }
	
}