  <div>
    <br>
    <!-- <h1 *ngIf="resource && resource.idShort">Detail View of {{ resource.idShort }}</h1> -->
    <div *ngIf="resource && resource.idShort" style="font-size: 23px; margin-left: 10px;">
      Resource Details
    </div>
    <div *ngIf="resource && resource.idShort" style="font-size: 16px; margin-left: 20px; margin-top: 3px;">
      {{ resource.idShort }}
    </div><br>

    <mat-card class="gray-element" *ngIf="resource">
      <div *ngFor="let cat of categories">
        <p class="category">{{cat}}</p>
        <div *ngFor="let element of resource.value" style="margin-left: 15px;">
          <span *ngIf="getAttributeInfo(element.idShort, 2) === cat">
            <div *ngIf="!element.invokable && isNonEmptyString(element.value)">

              <span class="shortId">
                  {{getAttributeInfo(element.idShort, 1)}}:
              </span>

              <span *ngIf="element.value">
                <span *ngIf="element.semanticId; else noSemanticId">
                  <span title="{{element.semanticDescription}}
                      [{{element.semanticId.keys[0].value}}]" class="visible">
                      {{ element.value | tidy}}
                  </span>
                </span>
                <ng-template #noSemanticId>
                    {{ element.value | tidy}}
                </ng-template>
              </span>

              <span class="semanticName" *ngIf="element.semanticName">
                 {{ element.semanticName | tidy}}
              </span>

            </div>
          </span>
        </div>
        <p></p>
      </div>
    </mat-card>
    <br>


<h1></h1>
<p>old version</p>
    <div>
      <mat-card class="gray-element">
        <div *ngIf="resource">

          <div *ngFor="let element of resource.value">
            <div *ngIf="!element.invokable && isNonEmptyString(element.value)">

                <span class="shortId">
                    {{getAttributeInfo(element.idShort, 1)}}:
                </span>
                <span *ngIf="element.value">
                  <span *ngIf="element.semanticId; else noSemanticId">
                    <span title="{{element.semanticDescription}}
                        [{{element.semanticId.keys[0].value}}]" class="visible">
                        {{ element.value | tidy}}
                    </span>
                  </span>
                  <ng-template #noSemanticId style="color: blueviolet;">
                      {{ element.value | tidy}}
                  </ng-template>
                </span>
                <span class="semanticName" *ngIf="element.semanticName">
                   {{ element.semanticName | tidy}}
                </span>


                <!--
                <span class="shortId">{{ element.idShort }}: </span>
                <span *ngIf="element.value && element.semanticId">
                  <span title="{{element.semanticDescription}}
                  [{{element.semanticId.keys[0].value}}]" class="visible">
                    {{ element.value | tidy}}
                  </span>
                </span>
                <span class="semanticName" *ngIf="element.semanticName">
                  {{ element.semanticName | tidy}}
                </span>
                -->

                <!--
                <span *ngIf="element.value && element.semanticId">
                  <h4>Resolve ({{ element.semanticId.keys[0].value}}): {{feedback}} </h4>
                </span>
                -->
              </div>
            </div>
          </div>
      </mat-card>
    </div>
  </div>
